html, body
  margin: 0
  width: 100%
  min-height: calc(100vh)
  color: white
  font-family: sans-serif

  body
    display: flex

ul
    padding: 0
    margin: 0

li
    list-style: none

main
  display: flex
  justify-content: center
  width: 100%
  background-image: url(../image/cold-daylight.jpg)
  background-size: cover
  background-position: center
  background-repeat: no-repeat
  padding: 60px 0px
