@import "./base"

.header
    display: flex
    width: 100%

.container
    position: relative
    display: flex
    align-content: flex-start
    flex-wrap: wrap
    box-sizing: border-box
    background: linear-gradient(to top, #000000a6, #27273385)
    padding: 25px
    height: 500px
    width: 750px
    max-width: 90%
    border-radius: 30px
    z-index: 1
    -webkit-clip-path: inset(0 0 0 0 round 30px)
    clip-path: inset(0 0 0 0 round 30px)
    .blured
        filter: blur(8px)
        opacity: .5

.backdrop-blur::before
    position: fixed
    top: 0
    left: 0
    content: ''
    background: linear-gradient(to top, #000000a6, #27273385), url(../image/cold-daylight.jpg)
    background-position: center
    background-repeat: no-repeat
    background-size: cover
    width: 100vw
    height: 100vh
    z-index: -1
    -webkit-filter: blur(30px)
    filter: blur(30px)

.title
    text-transform: uppercase
    width: 100%

.search-bar
    width: 100%
    .search-field
        appearance: none
        width: 100%
        -webkit-appearance: none
        -moz-appearance: none
        font-size: 16px
        color: white
        background: #0000005c
        border-top-right-radius: 5px
        border-top-left-radius: 5px
        border-width: 0
        padding: 10px 20px

.hint-list
    position: absolute
    background-color: #0000005c
    padding: 15px
    border-bottom-left-radius: 5px
    border-bottom-right-radius: 5px
    z-index: 5
    li
        position: relative
        text-align: center
        font-weight: 200
        letter-spacing: 1px
        cursor: pointer
        padding: 8px 0
        color: #ffffffbf
        transition: all 200ms linear
        &::after
            content: ''
            position: absolute
            left: 50%
            bottom: 0
            transform: translateX(-50%)
            width: 80%
            border-bottom: 1px solid #73737385
        &:hover
            color: #fff
            background: linear-gradient(90deg, #46464612, #3131317d, #46464612)


.btn
    border-radius: 5px
    background: #7b7b7b47
    border-width: 0
    color: white
    font-size: 16px
    padding: 10px

.weather-container
    display: flex
    flex-wrap: wrap
    width: 100%
    justify-content: space-between
    height: 70%

.weather-forecast
    background-color: #323232
    border-radius: 15px
    width: 35%

.current-weather
    padding: 10px
    background-color: #323232
    border-radius: 15px
    width: 60%

.weather-icon
    width: 80px
    height: 80px

.current-weather-icon i
    font-size: 6em

@supports ((-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px)))
    .backdrop-blur
        -webkit-backdrop-filter: blur(30px)
        backdrop-filter: blur(30px)
        &::before
            display: none
